#gol-root {
  font-family: sans-serif;
  text-align:center;
  color:#ffffff;
  background:#000000;



  h1{
    padding:30px 0 35px 30px;
    font-size:3em;
    letter-spacing:-2px;
    font-weight:normal;
    color: #80a630;
    margin-top: 0;
    margin-bottom: 20px;
  }

  h2{
    margin:0 0 15px 0;
    font-size: 20px;
    font-weight: bold;
    text-align:center;
    text-shadow: 2px 2px #080808;
    color:#80a630;
    padding: 5px 0 20px 0;
    border-bottom: 1px solid #333333;

  }

  h3 {

    color:#80a630;
    letter-spacing:1px;
    padding-bottom: 10px;
  }

  h4 {
    font-weight:bold;
    font-size: 14px;
  }

  a{
    color:#C8C8C8;
    font-weight:bold;
    text-decoration:none;
  }

  a:hover {color:#800020;}

  a.delete-link {
    font-size: 10px;
    color: #80a630;
  }

  ul{
    list-style-type:none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
  }

  input {
    color: black;
    background-color: grey;
    border:1px solid #000000;
    padding: 5px;
  }

  button {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    border:1px solid #999999;
    background-color:#000000;
    color: #999999;
    padding: 5px;
  }

  .alert {
    display: none;

  }
  #games ul {
    padding-left: 15px;
  }

  #games ul li a{
    font-weight: normal;
    letter-spacing: 1px;
  }

  #container{
    width:1000px;
    height: 800px;
    margin:20px auto;
    border:2px solid #333333;
  }

  #header{
    height:100px;
    width:1000px;
    margin-bottom: 10px;
  }

  #navigation{
    height:2.2em;
    line-height:2.2em;

    &.is-logged-in ul li{
      &.logged-out{
        display: none;
      }

      &.logged-in{
        display: inline-block;
      }

    }

    ul {
      display: block;
      width: 100%;
      text-align: center;

      li{
        display: inline-block;
        list-style-type:none;
        border-color: #444;
        border-style: solid;
        border-width: 1px 1px 1px 0px;
        background:#111111;
        text-shadow: 2px 2px black;

        &:first-of-type{
          border-left-width: 1px;
//          border-top-left-radius: 5px;
//          border-bottom-left-radius: 5px;
        }

//        &:last-of-type{
//          border-top-right-radius: 5px;
//          border-bottom-right-radius: 5px;
//        }


        &.logged-in{
          display: none;
        }

        a {
          padding:0 36px;
          font-size:0.9em;
          text-transform:uppercase;
          color: #999999;

          &#ohmydays{
            color: #80a630;
          }

          &:hover{
            color:#800020;
          }
        }
      }
    }
  }

  #content{
    padding:20px 0px 0 10px;
  }

  .logged-in {
    display: none;
  }

  .numeric {
    width: 45px;

  }
  //modals css
  .modal-dialog {
    width: 250px;
    top: 150px;

  }
  .modal-content {
    background-color: black;
    border:1px solid #333333;
  }
  .modal-header {
    border-bottom: 1px solid #333333;
    color: #999999;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
  }

}
