#gol-root {
  font-family: sans-serif;
  text-align:center;
  color:#ffffff;
  background:#000000;



  h1{
    padding: 20px;
    font-size:3em;
    letter-spacing:-2px;
    font-weight:normal;
    color: #80a630;
  }

  h2{
    margin:0 0 15px 0;
    font-size: 20px;
    font-weight: bold;
    text-align:center;
    text-shadow: 2px 2px #080808;
    color:#80a630;
    padding: 5px 0 20px 0;
    border-bottom: 1px solid #333333;
  }

  h3 {
    color:#80a630;
    letter-spacing:1px;
    padding-bottom: 10px;
  }

  h4 {
    font-weight:bold;
    font-size: 14px;
  }

  a{
    color:#80a630;
    font-weight:normal;
    text-decoration:none;
  }

  a:hover {color:#800020;}
  a:focus {outline: none;}

  a.delete-link {
    font-size: 10px;
    color: #80a630;
  }

  ul{
    list-style-type:none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    & li a {
      color: white;
    }
  }


  input {
    color: black;
    background-color: grey;
    border:1px solid #000000;
    padding: 5px;
  }

  button {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    border:1px solid #999999;
    background-color:#000000;
    color: #999999;
    padding: 5px;
  }

  span {
    font-weight: bold;
  }

  #games ul li{
    padding: 5px 0 0 15px;

  }

  #games ul li a{
    font-weight: normal;
    letter-spacing: 1px;
  }

  #container{
    width:1000px;
    margin:20px auto;
    border:2px solid #333333;
  }

  #header{
    height:100px;
    width:1000px;
    margin-bottom: 10px;
  }

  #navigation{
    height:2.2em;
    line-height:2.2em;
    display: block;
    width: 100%;

    &.is-logged-in ul.nav-menu-list>li{
      &.logged-out{
        display: none;
      }

      &.logged-in{
        display: inline-block;
      }

    }

    ul.nav-menu-list {
      display: inline-block;
      position: relative;

      &>li{
        display: inline-block;
        list-style-type:none;
        border-color: #444;
        border-style: solid;
        border-width: 1px 1px 1px 0px;
        background:#111111;
        text-shadow: 2px 2px black;

        &:first-of-type{
          border-left-width: 1px;//
        }

        &.logged-in{
          display: none;
        }

        &>a {
          padding:0 36px;
          font-size:0.9em;
          font-weight: bold;
          text-transform:uppercase;
          color: #999999;

          &:hover{
            color:#800020;
          }
        }
      }
    }
  }

  #content{
    padding:20px 0px 20px 0px;
    margin: auto;
  }

  #navigation ul li#upper-nav{
    position: absolute;
    right: 0px;
    bottom: 100%;
    border-color: #444;
    border-style: solid;
    border-width: 1px 1px 0px 1px;

    #game-panel {
      position: relative;
      min-width: 289px;
      background-color: #080808;
      text-align: right;
      padding: 0px 10px;

      ul {
        margin-right: 25px;

        li {
          display: inline;
          a {
            font-size: 10px;
          }
        }

        #game-name {
          color:#80a630;
          letter-spacing:1px;
          font-weight: bold;
        }
      }

      #alerts {
        width: 100%;
        padding: 0px 10px;
        position: absolute;
        left: -100%;
        bottom: 0px;

        ul li.alert-message {
          display: none;
          font-size: 12px;
          letter-spacing: 1px;
          color: #80a630;
          text-shadow: 2px 2px 1px black;
        }
      }
    }
  }

  #game-stats {
    width: 100%;
    margin-top: 1px;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #444;
    background-color: #080808;

    ul {
      width: 100%;
      display: block;

      li {
        padding: 5px 30px 5px 30px;
        display: inline-block;
        font-size: 12px;
      }
    }
  }

  #fps-box {
    border-top: 1px solid #333;
  }

  #add-link {
    padding-top: 30px;
  }

  .logged-in {
    display: none;
  }

  .numeric {
    width: 45px;

  }
  //modals css
  .modal-dialog {
    min-width: 250px;
    top: 150px;

  }
  .modal-content {
    background-color: black;
    border:1px solid #333333;
  }

  .modal-header {
    border-bottom: 1px solid #333333;
    color: #999999;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
  }

}
